# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build

__pycache__/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/*/.venv/
/experiments/*/data/revision-cache/*
/experiments/*/data/run/*
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
/.vscode/

